@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

p {
    color: #000000;
}

#paragraph {
    color: #FFFFFF;
}

#xylophone {
    color: white;
    margin: 10px 0% 0% 10px;
    display: inline-block;
    background-color: #654321;
    border:#000000 solid 5px;
}

body {
    background-color:#efb52b;
    height: 100%;
    width: 100%;
}

.content {
    display: block;
}

.header {
    height: 25%;
    display: block;
    background-color: #016a66;
    color: #f6ebf9;
    border-bottom: 2px solid #fdd9b5;
    padding: 12px 12px 12px 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.header h1 {
    font-weight: 600;
    font-size: 24px;
}

.note {
    height: 150px;
    width: 50px;
    margin: 2px 2px 2px 2px;
    border-radius: 5px;
    border: 5px solid black;
    cursor: pointer;
    display: inline-block;
}

.note p {
    margin: 0px 0px 0px 10px;
    color: #FFFFFF;
    display: inline-block;
}

.note:active {
    border: 5px solid #654321;
}

#C1 {
    background-color: blue;
}

#D2 {
    background-color: yellow;
}

#E3 {
    background-color: Green;
}

#F4 {
    background-color: red;
}

#G5 {
    background-color: orange;
}

#A6 {
    background-color: cyan;
}

#B7 {
    background-color: orchid;
}

#C8 {
    background-color: blueviolet;
}

.topCircle {
    background-color: lightgrey;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 25% 0% 0% 35%;
    display: inline-block;
}

.botCircle {
    background-color: lightgrey;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 140% 0% 0% 35%;
    display: inline-block;
}

#record {
    cursor: pointer;
    display: block;
    margin: 10px 0 0 10px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 2px;
    font-weight: bold;
}

#songs {
    display: block;
    height: 50px;
    margin: 10px 0 0 10px;
}

.singleSong {
    height: 20px;
    display: inline;
    color: black;
}

.play {
    height: 20px;
    display: inline;
    padding: 5px;
}